<h1>Přidate pacienta</h1>
<form [formGroup]="formGroup" (ngSubmit)="createPatient(formGroup.value.name, 
                                                         formGroup.value.room, 
                                                         formGroup.value.bed,
                                                         formGroup.value.dateOfBirth)">
   <div class="form-control">
       <label class="label" for="name">Jméno</label>
       <input
           formControlName="name"
           type="text"
           placeholder="Jméno pacienta"
         autofocus
       />
   </div>
   <div class="form-control">
       <label class="label" for="dateOfBirth">Datum narození</label>
       <input         
           formControlName="dateOfBirth"
           type="date"
           placeholder="Datum narození"
       />
   </div>
   <div class="form-control">
       <label class="label" for="room">Číslo místnosti</label>
       <input         
           formControlName="room"
           type="number"
           placeholder="0"
       />
   </div>
   <div class="form-control">
       <label class="label" for="bed">Číslo pokoje</label>
       <input         
           formControlName="bed"
           type="number"
           placeholder="0"
       />
   </div>
   <div>
       <button nbButton type="submit">Přidat pacienta</button>
   </div>
</form>