<div *ngIf="patient$ | async as patient">
  <div>{{ patient.id }}</div>
  <div>{{ patient.name }}</div>
  <div>Pokoj č.{{ patient.room }}</div>
  <div>Postel č.{{ patient.bed }}</div>
  <div>{{ patient.dateOfBirth }}</div>
  <a routerLink='allocate'>patient allocation</a>
</div>

<button (click)="onDelete()">Delete patient</button>

<table >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Název</th>
      <th scope="col">Dávka</th>
      <th scope="col">Čas</th> 
      <th scope="col">Datum</th>    
      <th></th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let allocation of allocations ">
      <th scope="row">{{ allocation.id}}</th>
      <td>{{allocation.drugTitle}}</td>
      <td>{{ allocation.dosage}}</td>
      <td>{{ allocation.time.hours}}:{{allocation.time.minutes}}</td>
      <td>{{allocation.date | date}}</td>
      <td><button (click)="completeAllocation(allocation.id)">✔️</button> <button (click)="deleteAllocation(allocation.id)">smazat</button></td>
    </tr>
  </tbody>
</table>