<div *ngIf="patient$ | async as patient">
  <div>{{ patient.id }}</div>
  <div>{{ patient.name }}</div>
  <div>Pokoj č.{{ patient.room }}</div>
  <div>Postel č.{{ patient.bed }}</div>
  <div>{{ patient.dateOfBirth }}</div>
  <div>{{patient.sex}}</div>
  <div>{{patient.description}}</div>
  <a routerLink='allocate'>patient allocation</a>
</div>
<a [routerLink]="['edit']"><button>Edit</button></a>

<app-dialog-button (onDelete)="onDelete()"></app-dialog-button>
<table >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Název</th>
      <th scope="col">Dávka</th>
      <th scope="col">Datum</th>    
      <th></th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let allocation of allocations ">
      <th scope="row">{{ allocation.id}}</th>
      <td>{{allocation.drugTitle}}</td>
      <td>{{allocation.dosage}}</td>  
      <td>{{allocation.date | date: 'EEEE dd/MM HH:mm'}}</td>
      <td><button (click)="completeAllocation(allocation.id)">✔️</button> 
        <app-dialog-button (onDelete)="deleteAllocation(allocation.id)"></app-dialog-button>
    </tr>
  </tbody>
</table>
