<section>
  <div class="column">
    <div class="detail" *ngIf="patient$ | async as patient">
      <h2>{{ patient.name }}</h2>
      <div>
        <span>Pokoj č.</span> {{ patient.room }} <span>Postel č.</span>
        {{ patient.bed }}
      </div>
      <div><span>Datum narození </span>{{ patient.dateOfBirth }}</div>
      <div><span>Pohlaví </span> {{ patient.sex }}</div>
      <div class="desc"><span>Popis</span></div>
      <div>{{ patient.description }}</div>
    </div>
    <div class="desc">
      <button
        style="height: 36px; width: 80px; background-color: #ffff"
        mat-raised-button
        [routerLink]="['edit']"
      >
        Upravit
      </button>
      <app-dialog-button
        style="margin: 0 20px"
        (onDelete)="onDelete()"
      ></app-dialog-button>
    </div>
  </div>

  <div class="column" >
    <div style="display: flex;justify-content: space-between; align-items: center; width: 70%;">
      <h2>Příděl léků</h2>
      <button *ngIf="patient$ | async as patient" style="height: 40px;width: 120px;background-color: rgb(180, 247, 195);"  mat-raised-button [routerLink]="['allocate']">Přidělit lék</button>
    </div>

    <div
      *ngIf="allocations.length != 0; else emptyAllocations"
      class="medicaments"
    >
      <mat-card
        class="card"
        *ngFor="let allocation of allocations"
        [routerLink]="['/patients/', allocation.patientId]"
      >
        <div class="data">
          <p style="margin-bottom: 10px">
            <b>{{ allocation.drugTitle }}</b>
          </p>
          <p>
            <b>{{ allocation.date | date: "dd/MM EEEE HH:mm" }}</b>
          </p>
        </div>

        <div class="data">
          <p></p>
          <p>{{ allocation.dosage }}</p>
        </div>
        <div>
          <button
          class="complete"
        style="height: 36px; width: 80px;"
        mat-raised-button
        (click)="completeAllocation(allocation.id)"
      >
          Splnit
      </button>
          <app-dialog-button
            style="margin: 0 20px"
            (onDelete)="deleteAllocation(allocation.id)"
          ></app-dialog-button>
        </div>
      </mat-card>
    </div>
    <ng-template #emptyAllocations
      ><p class="empty-box">
        Tento pacient momentálně nepřijímá žídné léky💊
      </p></ng-template
    >
  </div>
</section>
