<h2>Seznam pacientů</h2>
<div style="display: flex; justify-content:space-between;">
  <mat-form-field style="width: 50%;" appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Vyhledávej" #input>
    
  </mat-form-field>
  <button style="height: 50px;width: 200px;background-color: rgb(180, 247, 195);"  mat-raised-button routerLink="/patients/create">Přidat pacienta</button>
</div>



<table mat-table [dataSource]="dataSource" matSort  (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Řadit podle jména">
      Jméno
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  
  <ng-container matColumnDef="sex">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Řadit podle pohlaví">
      Pohlaví
    </th>
    <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
  </ng-container>
  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Řadit podle datumu narození">
      Datum narození
    </th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
  </ng-container>
  <ng-container matColumnDef="room">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Řadit podle pokoje">
      Pokoj
    </th>
    <td mat-cell *matCellDef="let element"> {{element.room}} </td>
  </ng-container>
  <ng-container matColumnDef="bed">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Řadit podle lůžka">
      Lůžko
    </th>
    <td mat-cell *matCellDef="let element"> {{element.bed}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="row" mat-row *matRowDef="let row; columns: displayedColumns;"  [routerLink]="['/patients', row.id]"></tr>
</table>
