<h1>Přiřadit léky k pacientovi</h1>

<form
  [formGroup]="formGroup"
  (ngSubmit)="
    createAllocation(
      id,
      formGroup.value.selectedDrug.id,
      formGroup.value.selectedDrug.title,
      patient.name,
      formGroup.value.time,
      formGroup.value.dosage,
      formGroup.value.notify,
      formGroup.value.Mon,
      formGroup.value.Tue,
      formGroup.value.Wed,
      formGroup.value.Thu,
      formGroup.value.Fri,
      formGroup.value.Sat,
      formGroup.value.Sun
    )
  "
>

  <ng-select (change)="onDrugChange()" autofocus formControlName="selectedDrug">
    <ng-option *ngFor="let drug of drugs" [value]="drug">{{
      drug.title
    }}</ng-option>
   
  </ng-select>
  <mat-error *ngIf="hasSelectedDrug">Musíte vybrat lék</mat-error>


<div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Doporučené dávkování</mat-label>
    <input autofocus formControlName="dosage" matInput />
    <mat-error>Dávkování je povinné</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Čas dávky</mat-label>
    <input
      matInput
      [ngxTimepicker]="picker"
      [format]="24"
      formControlName="time"
      readonly
    />
    <ngx-material-timepicker #picker></ngx-material-timepicker>
    <mat-error>Čas je povinný</mat-error>
  </mat-form-field>
</div>
 

  <mat-checkbox color="primary" formControlName="notify">
    Upozornění
  </mat-checkbox>

  <div class="days">
    <mat-checkbox color="primary" formControlName="Mon"> Pondělí </mat-checkbox>
    <mat-checkbox color="primary" formControlName="Tue"> Úterý</mat-checkbox>

    <mat-checkbox color="primary" formControlName="Wed"> Středa</mat-checkbox>

    <mat-checkbox color="primary" formControlName="Thu"> Čtvrtek</mat-checkbox>

    <mat-checkbox color="primary" formControlName="Fri"> Pátek</mat-checkbox>

    <mat-checkbox color="primary" formControlName="Sat"> Sobota </mat-checkbox>
    <mat-checkbox color="primary" formControlName="Sun"> Neděle</mat-checkbox>
  </div>
  <button
  style="margin-top: 20px;height: 50px; width: 200px; background-color: rgb(180, 247, 195)"
  mat-raised-button
  type="submit"
  >
 Přiřadit lék
</button>
</form>
