ng-select {
   width: 50%;
   margin-bottom: 10px;
}

.row {
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.row mat-form-field {
   width: 50%;
}
.row mat-form-field:first-child{
   margin-right: 10px;
}
.days {
   margin-top: 10px;
}
.days mat-checkbox {
   margin-right: 10px;
}