
<app-loading-bar></app-loading-bar>
<mat-toolbar color="primary">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     
   </button>

   <span>SENIOPILL</span>
   <span class="example-spacer"></span>
   <button mat-raised-button >Add Product</button>
 </mat-toolbar>
<header>
   <h1>
      Navbar
   </h1>
   <button type="button" routerLink="/">Home</button>
   <div>
      <button type="button" routerLink="/patients">Patients</button>
      <button type="button" routerLink="/patients/create">Create patient</button>
   </div>
   <div>
      <button type="button" routerLink="/medicaments">Drugs</button>
      <button type="button" routerLink="/medicaments/create">Drugs create</button>
   </div>
</header>


 <router-outlet>
   
 </router-outlet>