<app-loading-bar></app-loading-bar>
<header>
  <mat-toolbar color="primary" class="navbar">
    <div class="logo" routerLink="/">
      <img src="../assets/logo.png" alt="Logo" />
      <span class="title">SENIOPILL</span>
    </div>

    <span class="example-spacer"></span>
    <button mat-raised-button routerLink="/patients">
      <mat-icon>local_hotel</mat-icon>Pacienti
    </button>
    <button mat-raised-button routerLink="/medicaments">
      <mat-icon>local_hospital</mat-icon>Léky
    </button>
  </mat-toolbar>
</header>

<main>
  <router-outlet> </router-outlet>
</main>

<footer>
  <p>Adam Vožda Copyright © 2022</p>
</footer>
