<section>
  <div class="half">
    <div style="display: flex; justify-content:space-between; width: 75%;">
      <h2>Dávky tohoto týdne</h2>
      <select (change)="dayChange($event)">
        <option *ngFor="let day of days" [value]="day">
          {{ day | date: "EEEE" }}
        </option>
      </select>
    </div>
    
    <div *ngIf="upcomingAllocations.length!=0; else empty"  class="medicaments">
      <mat-card
        class="card"
        *ngFor="let allocation of upcomingAllocations"
        [routerLink]="['/patients/', allocation.patientId]"
      >
        <div class="data">
          <p style="margin-bottom: 10px">
            <b>{{ allocation.patientName }}</b>
          </p>
          <p>
            <b>{{ allocation.date | date: "HH:mm" }}</b>
          </p>
        </div>

        <div class="data">
          <p>{{ allocation.drugTitle }}</p>
          <p>{{ allocation.dosage }}</p>
        </div>
      </mat-card>
    </div>
    <ng-template #empty ><p class="empty-box">Všechny léky pro tento den již byly rozdány 💊</p></ng-template>
  </div>
  <div class="half">
    <h2>Naposledy zobrazení pacienti</h2>
    <div class="medicaments">
      <mat-card
        class="card"
        *ngFor="let patient of lastSeenPatients"
        [routerLink]="['/patients/', patient.id]"
      >
        <div class="data">
          <p style="margin-bottom: 10px">
            <b>{{ patient.name }}</b>
          </p>
          <p>
            <b>Pokoj č.{{ patient.room }} Lůžko č.{{ patient.bed }}</b>
          </p>
        </div>

        <div class="data">
          <p>{{ patient.sex }}</p>
          <p>Narozen {{ patient.dateOfBirth | date : 'YYYY' }}</p>
        </div>
      </mat-card>
    </div>
  </div>
</section>
