<form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value.title, formGroup.value.description, formGroup.value.dosage)">
    <ng-container *ngIf="Data; else createTitle">
        <h2>Úprava léku</h2>
    </ng-container>
    <ng-template #createTitle>
        <h2>Přidat lék</h2>
    </ng-template>
    <mat-form-field appearance="outline">
        <mat-label>Název</mat-label>
        <input autofocus formControlName="title" matInput />
        <mat-error >Název léku je povinný</mat-error>
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Doporučené dávkování</mat-label>
        <input formControlName="dosage" matInput />
        <mat-error >Doporučené dávkování je povinné</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Popis</mat-label>
        <textarea
          formControlName="description"
          cols="20"
          rows="5"
          matInput
        ></textarea>
      </mat-form-field>
      <ng-container *ngIf="Data; else createButton">
        <button
      style="height: 50px; width: 200px; background-color: rgb(180, 247, 195)"
      mat-raised-button
      type="submit"
    >
     Upravit lék
    </button>
    </ng-container>
    <ng-template #createButton>
        <button
      style="height: 50px; width: 200px; background-color: rgb(180, 247, 195)"
      mat-raised-button
      type="submit"
    >
     Přidate lék
    </button>
    </ng-template>
</form>